<div>
    <h1>{{ creatingNewEditor ? 'Create a new ' : 'Edit ' }} editor:</h1>
    <form class="d-flex flex-column col-4" *ngIf="editorGroup" [formGroup]="editorGroup" (ngSubmit)="onSubmit()">
        <label for="name">Company Name</label>
        <input class="mb-3" type="text" formControlName="name" placeholder="Company Name" id="name">
        <label for="contacts">Contacts</label>
        <input class="mb-3" type="text" formControlName="contacts" placeholder="Email/Phone" id="contacts">
        <div class="mb-3">
            <button type="submit" class="btn btn-success me-3" [disabled]="editorGroup.invalid">Submit</button>
        </div>
    </form>

    <div class="table-responsive" *ngIf="creatingNewEditor && existingEditors && existingEditors.length > 0">
        <h1>Choose an already existing editor to add:</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nom de la société</th>
                    <th>Contacts</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let editor of existingEditors">
                    <td>{{ editor.nomSociete }}</td>
                    <td>{{ editor?.contacts }}</td>
                    <td>
                        <button type="button" class="btn btn-success me-2" (click)="addToFestival(editor)">Add</button>
                        <button type="button" class="btn btn-warning me-2" (click)="editEditor(editor)">View and Edit</button>
                        <button type="button" class="btn btn-danger" (click)="deleteEditor(editor)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive" *ngIf="editor && editor.jeux && editor.jeux.length > 0">
        <h1 class="mt-4">Games:</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Type</th>
                    <th>Age minimum</th>
                    <th>Age maximum</th>
                    <th>Nb Players Min</th>
                    <th>Nb Players Max</th>
                    <th>Durée (en minutes)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let jeu of editor.jeux">
                    <td>{{ jeu.nom }}</td>
                    <td>{{ jeu?.type }}</td>
                    <td>{{ jeu?.ageMin }}</td>
                    <td>{{ jeu?.ageMax }}</td>
                    <td>{{ jeu?.nbJoueursMin }}</td>
                    <td>{{ jeu?.nbJoueursMax }}</td>
                    <td>{{ jeu?.dureeMinutes }}</td>
                    <td>
                        <button type="button" class="btn btn-warning" [disabled]="jeu == this.jeuToEdit" (click)="editJeu(jeu)">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button *ngIf="!creatingNewEditor" type="button" class="btn btn-primary mb-3" (click)="addNewGame()">Add New Game</button>
    <app-jeu-detail *ngIf="jeuToEdit" [jeuToEdit]="jeuToEdit" (editedJeu)="submitEditedJeu($event)" (deletedJeu)="deleteJeu($event)"></app-jeu-detail>
</div>