<div>
    <h1>{{ creatingNewFestival ? 'Create ' : 'Edit ' }} festival:</h1>
    <form class="d-flex flex-column col-4" *ngIf="festivalGroup" [formGroup]="festivalGroup" (ngSubmit)="onSubmit()">
        <label for="name">Festival Name</label>
        <input class="mb-3" type="text" formControlName="name" placeholder="Festival Name" id="name">
        <label for="tables_1">Number of Entrance Tables</label>
        <input class="mb-3" type="number" formControlName="entranceTables" placeholder="# Entrance Tables" id="tables_1">
        <label for="tables_2">Number of Main Room Tables</label>
        <input class="mb-3" type="number" formControlName="mainTables" placeholder="# Main Tables" id="tables_2">
        <label for="tables_3">Number of Buffet Tables</label>
        <input class="mb-3" type="number" formControlName="buffetTables" placeholder="# Buffet Tables" id="tables_3">
        <div class="mb-3">
            <button type="submit" class="btn btn-success me-3" [disabled]="festivalGroup.invalid">Submit</button>
            <button type="button" *ngIf="!creatingNewFestival" class="btn btn-danger" (click)="deleteFestival()">Delete</button>
        </div>
    </form>

    <div class="table-responsive" *ngIf="festival && festival.editeursObj && festival.editeursObj.length > 0">
        <h1>Editors:</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nom de la société</th>
                    <th>Contacts</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let editor of festival.editeursObj">
                    <td>{{ editor.nomSociete }}</td>
                    <td>{{ editor?.contacts }}</td>
                    <td>
                        <button type="button" class="btn btn-warning me-2" (click)="editEditor(editor)">View and Edit</button>
                        <button type="button" class="btn btn-danger" (click)="deleteEditorRef(editor)">Remove from festival</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="button" *ngIf="!creatingNewFestival" class="btn btn-primary mb-3" (click)="addNewEditor()">Add New Editor</button>
</div>